# Hermes Agent config - Ansible 자동 생성
_config_version: 26
model:
  default: k3-256k
  provider: custom:aperture

providers: {}

custom_providers:
- name: aperture
  base_url: http://ai
  api_mode: anthropic_messages

timezone: Asia/Seoul

terminal:
  backend: local

approvals:
  mode: yolo

discord:
  require_mention: false
  free_response_channels:
    - "1511797315722149928"
  reactions: true

dashboard:
  basic_auth:
    username: crong
    password_hash: "scrypt$16384$8$1$WvwGzu5pqkNYWESrM1hXsw==$47fbA5hF5t+zUHMkG4DpG2TcNIZOQYmYTOB3WZ8ipBI="
