Host axiom eve mo walle
  HostName %h.bun-bull.ts.net
  User crong
  IdentityFile ~/.ssh/id_ed25519

Host arv steward
  HostName %h.bun-bull.ts.net
  User root
  IdentityFile ~/.ssh/id_ed25519

Host girl
  HostName %h.bun-bull.ts.net
  User deck
  IdentityFile ~/.ssh/id_ed25519

Host lt brla
  HostName %h.bun-bull.ts.net
  User ubuntu
  IdentityFile ~/.ssh/id_ed25519

Host *
  LogLevel error
  ServerAliveInterval 120
  ForwardAgent yes
  AddKeysToAgent yes
  Port 22
  IdentitiesOnly yes
