services:
  traefik:
    image: traefik:v3
    container_name: traefik
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "8088:8088"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - {{ traefik_data_dir }}/traefik.yml:/etc/traefik/traefik.yml:ro
      - {{ traefik_data_dir }}/dynamic.yml:/etc/traefik/dynamic.yml:ro
      - {{ traefik_cert_dir }}:/certs:ro
    networks:
      - proxy
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  proxy:
    external: true
