Host lt
    HostName 193.123.246.91
    User ubuntu
    IdentitiesOnly no
    StrictHostKeyChecking no

Host brla
    HostName 100.99.163.97
    User ubuntu
    IdentitiesOnly no
    StrictHostKeyChecking no
    ProxyJump lt
